.App{
  text-align:  center;
  font-size: 35px;
  margin-top: 20%;
}

.App-title{
  font-size: 50px;
}

.Clock-days, .Clock-hours,.Clock-minutes, .Clock-seconds{
display: inline;
margin: 10px;
}


.deadline-input{
  font-size: 25px;
  margin: 5px;
}

.timer-input{
  font-size: 25px;
  margin: 5px;
  color: red;
}

.TrackButton {
  height: 30px;
  width: 30px;
  color: green;
  background-color: green;
  opacity: 0.1;
  border-radius: 100%;
  border: 3px solid black;
}

.Tasks {
  height: 100px;
  width: 308px;
  border: 1px solid black;
  margin-left: 2px;
  padding-left: 3px;
  padding-right: 3px;
}

.littleText{
  display: inline;
  margin: 5px;
  height: 5%;
  width: 85%;
}
